  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Register Today!</h2>
              <div id="ribbon-schedule"></div>
              <script
                  async
                  type="module"
                  host_id="29845"
                  teacher_ids="[]"
                  location_ids="[]"
                  tag_ids="[]"
                  default_filter="today"
                  src="https://momence.com/plugin/host-schedule/host-schedule.js"
              ></script>
          </div>
      </div>
  </aside>
