  <aside class="bg-dark">
      <div class="container text-center">
            <h2 class="section-heading">About the studio</h2>
            <hr class="light">
            <p class="text-faded">Yoga is for every body!</br></p> <p class="text-faded"; align="left"> Whether small, large, male, female, flexible or inflexible, yoga is for you. During each practice you will learn to listen to the needs of your body as you move through the sequences.</br></br> With many props and modifications the asanas (poses) are accessible to everyone, making this a safe place for your body, mind, and spirit.</br></br></p>
          <div class="call-to-action">
              <h3>Register Today!</h3>
              <div id="ribbon-schedule"></div>
              <script
                  async
                  type="module"
                  host_id="29845"
                  teacher_ids="[]"
                  location_ids="[]"
                  tag_ids="[]"
                  default_filter="today"
                  src="https://momence.com/plugin/host-schedule/host-schedule.js"
              ></script>
          </div>

  <style>
    :root {
        --momenceColorBackground: #FBFBFB;
        --momenceColorPrimary: 166, 182, 150;
        --momenceColorBlack: 3, 1, 13;
    }
    </style>
        <hr class="light">
        </br>
        </br>
          <p class="text-faded"; align="center"> Want a ladies night out?</br>How about a family night?</br>Or do the class times just not work for you?</br><b>Contact me to book your group (2-4 people) or private session.</b></br></br> </br></br></p>

      </div>
  </aside>
