  <aside class="bg-dark">
      <div class="container text-center">
            <h2 class="section-heading">Welcome to the studio!</h2>
            <hr class="light">
            <p class="text-faded">Our Mission: To create a safe space of growth for body, mind and spirit.<br></p>
            <p class="text-faded-left">What you will find here:</p>
            <ul class="text-faded-left">
                <li>Accessible Yoga for Every Body</li>
                <li>Small class size for individualized experience</li>
                <li>Trauma Informed instruction</li>
                <li>Individual or private group appointments available</li>
                <li>Mindfulness Coaching & Workshops</li>
            </ul>
          <div class="call-to-action">
              <h3>Register Today!</h3>
              <div id="ribbon-schedule"></div>
              <script
                  async
                  type="module"
                  host_id="29845"
                  teacher_ids="[]"
                  location_ids="[]"
                  tag_ids="[]"
                  default_filter="today"
                  src="https://momence.com/plugin/host-schedule/host-schedule.js"
              ></script>
          </div>

  <style>
    :root {
        --momenceColorBackground: #FBFBFB;
        --momenceColorPrimary: 166, 182, 150;
        --momenceColorBlack: 3, 1, 13;
    }
    </style>
        <hr class="light">
        </br>
        </br>
          <p class="text-faded"; align="center"> Want a ladies night out?</br>How about a family night?</br>Or do the class times just not work for you?</br><b>Contact me to book your group (2-4 people) or private session.</b></br></br> </br></br></p>

      </div>
  </aside>
