<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the studio</h2>
                <hr class="light">
                <p class="text-faded">Our center focuses on Vinyasa style yoga for every body.</p>
                <hr class="lightlong">
                <p class="text-faded" align="left">
                    Summer Schedule:
                    <ul class="text-faded" align="left">
                        <li>Regular classes will be held Wednesdays at 8:00am</li>
                        <li>If there are students on the wait list (minimum of 2) by Tuesday at 8:00pm, I will open another class (starting at 9:15am)</li>
                        <li>Or create your own class! Find two or three friends to practice with and contact me to schedule a time</li>
                      </ul>
                </p>

            </div>
        </div>
    </div>
</section>
