<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the studio</h2>
                <hr class="light">
                <p class="text-faded">Yoga is for every body!</br></p> <p class="text-faded"; align="left"> Whether small, large, male, female, flexible or inflexible, yoga is for you. During each practice you will learn to listen to the needs of your body as you move through the sequences.</br></br> With many props and modifications the asanas (poses) are accessible to everyone, making this a safe place for your body, mind, and spirit.</br></br></p>
                <hr class="lightlong">
                <p class="text-faded"; style="color:rgb(111, 92, 64);font-size:150%;">
                    </br>
                    August 3rd - September 4th Schedule:
                </p>
                <p class="text-faded"; align="left">
                    No regular classes scheduled until after Labor day.</br> Contact me to schedule a class (2-4 people) or an individual session.
                </p>
            </div>
        </div>
    </div>
</section>
